{% extends 'base.html.twig' %}

{% block body %}
        <form action="">
            <fieldset>
                <legend>Contact Form</legend>
                First Name: <br><input type="text" name="FirstName"/><br>
                Last Name: <br><input type="text" name="LastName"/><br>
                Email: <br><input type="text" name="Email"/><br>
                Phone Number: <br><input type="text" name="Phone"/><br>
                Message: <br><textarea rows='15' cols='40' style="resize:none" name="Message"></textarea><br>
            </fieldset>
        </form>
{% endblock %}